.root-container {
  max-width: 100vw;
  overflow: hidden;
}

.App {
  text-align: center;
}

.main-cnt {
  margin: auto;
}

.autocomplete-cnt {
  margin-top: 70px !important;
  width: 60% !important;
}

@media (max-width: 1024px) {
  .autocomplete-cnt {
    width: 80% !important;
  }
}
